@mixin header{
  height:60px;
  background: rgba(0,0,0,.5);
  margin-bottom: 30px;
}
@mixin playBar{
  //require("../../../static/images/playbar.png");
  background: url("../playbar.png") no-repeat;
}
@mixin list{
  //display:-webkit-flex;
  //display:flex;
  //flex-direction:column;
  //flex-wrap: wrap;
  //flex-flow:column wrap;
  //justify-content:center;
  //align-items:flex-start;
  //flex-grow:1;
}
@mixin recommendList{
  font-size: 1rem;
.wrapper{
  .title{
    >img{
      width:100%;
      height:auto;
    }
    .listTitle{
      padding: 1em 2em 0 3em;
      text-align: left;
      >span{
        display:inline-block;
        vertical-align: middle;
      }
      >span:first-child{
        width:50px;
      }
      >span:nth-child(2){
        width:100px;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
}
